body{
    background-image: url(bg2.jpg);
    background-size: 100%;
    color: rgb(211, 211, 211);
    padding: 12px;
    font-family: 'Sofia Sans', sans-serif;
}
img{
 
}
.img1{

height: 510px;
object-fit: cover;
}
header{
    margin: 0;
    padding: 4px;
    text-align: center;
}
.head{
    color: azure;
}

.headlist{
    display:inline;
    margin-right: 5px;
    
    padding: 3px;
    
}
a{
    color: rgb(255, 255, 255);
}
footer{
    text-align: center;
    background-color: rgb(71, 71, 71);
    padding: 40px;
} 
@media screen and (max-width:910px) {
  .img1{width: 100%;
    height: 300px;
}  
}
