body{
    background-image: url(bg2.jpg);
background-size: 100%;
font-family: 'Sofia Sans', sans-serif;
margin: 0px;
color: rgb(211, 211, 211);
}
article{
 
    
}
h3{
    margin: 0;
}
main{
    
   max-width: 1000px;
    margin: 100px auto;
}
.icon{
    position: relative;
    
}
.icon2{
    display: none;
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 40;
    background-color: white;
    padding: 8px;
    list-style: none;
    width: 200px;
}
.icon:hover .icon2{
display: block;
}
header{
    color: rgb(255, 255, 255);
    margin: 0;
    padding:4px 0 ;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: aliceblue;
    z-index: 30;
}
.container{
display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}
.logo>a{
    display: flex;
    align-items: center;
    gap: 8px;
}
/*.head{
    color: azure;
}

.headlist{
    display:inline;
    margin-right: 5px;
    
    padding: 3px;
}
  */  
svg{
    display: none;
    color: black;
}
.card-content-img>img{
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

a{
    color:rgb(6, 6, 6);
    text-decoration: none;
      
}
    a:hover{
        color:rgb(208, 206, 206) ;
    }
p{
    margin: 0;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    display: inline;
    color: rgb(214, 214, 214);
}
    footer{
        text-align: center;
        background-color: rgb(71, 71, 71);
        padding: 40px;
        
    }   
        .r{
            background-color:rgb(71, 71, 71) ;
        }

    .content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .gm1 {
        width: 25%;  
        padding: 10px;
        color: white;
    transform: scale(1);
    transition: transform 0.7s;
    }
    .gm1:not(:last-child) {
        margin-right: 15px;
      } 
    .game{

    }
    .price1{
        
        
        color: rgb(255, 255, 255);
    }
    .gm1:hover{
        transform: scale(1.2);
    }
    .p1{
        color: rgb(255, 255, 255);
        background-color: rgb(71, 71, 71);
    }
    @media screen and (max-width:843px) {
    .content{
        flex-direction: column;
        align-items: center;
    }
    .gm1{
        width: 100%;
    }

}   
@media screen and (max-width:670px) {
    .headlist>span {
        display: none;
    }
    svg{
        display: block;
    }
} 
